body {
    margin: 0;
    padding: 0;
    
    font-family: "Open sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 36px;
    color: #000000;
}

.container {
    position: fixed;
    width: 100%;
    height: 100%;
    
    background-image: linear-gradient( 180deg, rgb(212, 212, 212) 0%, rgb(147, 182, 189) 100%);
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 960px;
    height: 10%;
    
    margin: 0 auto;
    
    box-sizing: border-box;
}

.main-title {
    margin: 0;
    padding: 0;
}

input[name="menu"] {
    display: none;
}

.main-block {
    position: relative;
    width: 960px;
    height: 80%;
    
    margin: 0 auto;
    
    border: 5px solid #ffffff;
    box-sizing: border-box;
}

.controls {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.3);
}

.controls label {
    display: block;
    width: 100px;
    height: 100px;
    
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    
    transform: scale(0.8);
    transition-duration: 0.2s;
}

.controls label:hover {
    transform: scale(1);
    transition-duration: 0.2s;
}

.controls label:nth-of-type(1) {
    background-image: url("../img/house.svg");
}

.controls label:nth-of-type(2) {
    background-image: url("../img/man.svg");
}

.controls label:nth-of-type(3) {
    background-image: url("../img/projects.svg");
}

.teaser {
    display: none;
    flex-direction: column;
    height: 100%;
    padding-right: 100px;
    
    background-image: url("../img/me.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.teaser-title {
    margin: 0;
    padding: 0;
}

.teaser-text {
    margin: 0;
    padding: 0;
}

.about-me {
    display: none;
    height: 100%;
    flex-direction: column;
    padding-right: 100px;
    
    box-sizing: border-box;
}

.about-me-title {
    margin: 0;
    padding: 0;
    
    text-align: center;
}

.about-me-text {
    margin: 0;
    padding: 0;
}

.projects {
    display: none;
    height: 100%;
    flex-direction: column;
    padding-right: 100px;
    
    box-sizing: border-box;
}

.projects-title {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    padding: 0;
    height: 10%;
}

.projects-list {
    list-style: none;
    height: 90%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projects-list li {
    width: 405px;
    height: 45%;
}

.projects-list a {
    display: block;
    height: 100%;
    position: relative;
    font-size: 0;
    line-height: 0;
}

.projects-list a::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.projects-list a:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../img/eye.svg");
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
}

.projects-list a:active::after {
    opacity: 0.5;
}

.projects-list img {
    height: 100%;
}

@keyframes block-move {
    0% {
        opacity: 0;
        transform: translateY(-1000px);
    }
    
    70% {
        opacity: 0.5;
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.home:checked ~ .main-block .teaser,
.me:checked ~ .main-block .about-me,
.sites:checked ~ .main-block .projects {
    display: flex;
    animation-name: block-move;
    animation-duration: 0.3s;
}

.main-footer {
    width: 960px;
    height: 10%;
    
    margin: 0 auto;
    
    box-sizing: border-box;
}

.social-networks {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-networks li {
    height: 100%;
    display: flex;
    align-items: center;
}

.social-button {
    display: block;
    width: 200px;
    height: 100%;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.social-button-vk {
    background-image: url("../img/vk.svg");
}

.social-button-inst {
    background-image: url("../img/inst.svg");
}























